<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GatchaTech.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>744A10D31C6B279C0035AC75</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>744A10E71C6B279C0035AC75</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>744A10F21C6B279C0035AC75</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
